APP_ADDR=:8080
APP_ENV=development

POSTGRES_DSN=postgres://postgres:postgres@postgres:5432/messaging?sslmode=disable

REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0

JWT_SECRET=change_me_please_very_secret
JWT_ISSUER=messaging-api
JWT_ACCESS_TTL=24h

CACHE_LAST_MESSAGES_LIMIT=100
CACHE_LAST_MESSAGES_TTL=15m
CACHE_UNREAD_TTL=20m

LOG_LEVEL=info


DEBUG_ENABLED=true
DEBUG_PATH_PREFIX=/debug
DEBUG_TOKEN=
