# Игнорировать файлы среды
.env
.env.example  # (оставить пример .env)

# Игнорировать IDE файлы
.idea/
.vscode/

# Логи
*.log

# Зависимости и кэш
node_modules/
vendor/
build/
dist/

# Файлы, связанные с системой сборки
*.bak
*.swp

# Игнорировать локальные файлы тестирования
coverage/
*.test
*.spec

# Игнорировать сгенерированные файлы
*.exe
*.out
*.dll
*.so